<div class="pad_top"></div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Event Name</th>
    <th scope="col">Event Category</th>
    <th scope="col">Even Description</th>
    <th scope="col">Manage</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of this.sharedDataSrevice.user.createdEvents">
      <td>{{event.eventname}}</td>
      <td>{{event.Category.categoryname}}</td>
      <td>{{event.eventdescription}}</td>
      <td><a class="mouse_pointer" (click)="manageEvent(event._id)"> Manage </a></td>
    </tr>
  </tbody>
</table>
