<form class="container pad_top" >
  <h1>Create Category</h1>
  <div *ngIf="successFlag" class="alert  alert-info" role="alert">
    Category Created Successfully!
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Category Name</label>
    <input [(ngModel)]="catname" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sport">
    <small id="emailHelp" class="form-text text-muted">Enter a unique category name.</small>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Category Description</label>
    <textarea [(ngModel)]="catdesc" name="desc" class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button (click)="createCategory()" class="btn btn-primary">Submit</button>
</form>
