
<div class="login-page">
  <h2>Add User</h2>
  <div *ngIf="successFlag" class="alert alert-success" role="alert">
    User created successfully! Use this form to create more.
  </div>
  <div class="form">
    <form >
      <input [(ngModel)]="firstName" type="text" placeholder="first name" name="firstName"/>
      <input [(ngModel)]="lastName" type="text" placeholder="last name" name="lastName"/>
      <input [(ngModel)]="email" type="text" placeholder="email address" name="email"/>
      <input [(ngModel)]="username" type="text" placeholder="username" name="username"/>
      <input [(ngModel)]="password" type="password" placeholder="password" name="pass"/>
      <input [(ngModel)]="type" type="text" placeholder="role like 'admin', 'organizer' or 'user'" name="pass"/>

      <button (click)="register()">Add User</button>

    </form>
  </div>
</div>
