<div class="pad_top"></div>
<div class="container">
<h3>Manage Categories</h3>
  <!--<div class="bg-success text-white">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</div>-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Category Name</th>
    <th scope="col">Category Description</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cat of cats">
    <td>{{cat.categoryname}}</td>
    <td>{{cat.description}}</td>
    <td><a class="mouse_pointe text-danger" (click)="deleteCategory(cat._id)"> Delete </a></td>
  </tr>
  </tbody>
</table>
</div>
