<form class="container pad_top" >
  <h1>Create Event</h1>
  <div *ngIf="successFlag" class="alert  alert-info" role="alert">
    Event Created Successfully!
  </div>
  <div class="form-group">

    <label for="eventName">Event Name</label>
    <input [(ngModel)]="eventName" name="name" type="text" class="form-control" id="eventName" aria-describedby="emailHelp">
    <br>
    <label for="eventDesc">Event Description</label>
    <textarea [(ngModel)]="eventDesc" name="desc" class="form-control" id="eventDesc" rows="3"></textarea>
    <br>

    <label for="eventLoc">Event Location</label>
    <br>
    <small for="eventLoc">Street 1</small>
    <input [(ngModel)]="street1" name="street1" type="text" class="form-control" id="street1" aria-describedby="emailHelp">
    <small for="eventLoc">Street 2</small>
    <input [(ngModel)]="street2" name="street2" type="text" class="form-control" id="street2" aria-describedby="emailHelp">
    <small for="eventLoc">Zip Code</small>
    <input [(ngModel)]="zip" name="loc" type="text" class="form-control" id="eventLoc" aria-describedby="emailHelp">
    <small for="eventLoc">Country</small>
    <input [(ngModel)]="country" name="loc" type="text" class="form-control" id="country" aria-describedby="emailHelp">
    <small for="eventLoc">State</small>
    <input [(ngModel)]="state" name="loc" type="text" class="form-control" id="state" aria-describedby="emailHelp">

    <br>
    <label for="eventPhone">Event Contact Deails</label>
    <input [(ngModel)]="eventCont" name="cont" type="text" class="form-control" id="eventPhone" aria-describedby="emailHelp">

  </div>
  <button (click)="createEvent()" class="btn btn-primary">Submit</button>
</form>
