

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Event Pro</h1>
    <p>A platform for users and organizers to create and register for events.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4" *ngFor="let event of events">
      <h2>{{event.name.text }}  </h2>
      <p> {{event.description.text | slice:0:100}} </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2017</p>
  </footer>
</div> <!-- /container -->




